.venv/
.env
__pycache__/
*.pyc
*.pyo
.DS_Store
.idea/
.vscode/

*.log
*.sqlite3
backend/*.db
backend/*.sqlite*
*.bak
*.swp
*.tmp
*.env

# docs
docs/tasks/

# test
test/
tests/
e2e/
test-results/
.pytest_cache/


# alembic
alembic.ini
alembic/
migrations/

.cursor/
gemini.md
docker-compose.yml

#frontend test files
frontend/coverage/
frontend/e2e/
frontend/playwright.config.ts
frontend/vitest.config.ts
frontend/playwright.config.ts
frontend/vitest.setup.ts
frontend/playwright.setup.ts
